# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Django stuff
*.log
*.pot
*.py[cod]
*.sqlite3
db.sqlite3
local_settings.py
media/
staticfiles/

# Virtual environment
venv/
.no-stolen-Wo2W23Um/  # your specific virtualenv folder
Pipfile.lock  # optional: ignore if secrets inside

# Environment variables
.env
*.env

# OS files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node / frontend files (if you ever add)
node_modules/
